body {
	background-color:blue;
	background-image: url("download.jpg");
	background-repeat:no-repeat;
	background-position:center;
}
p {
	font-size:250%;
}
a {
	color:red;
}
a:hover {
	color:green;
}
