body {
	background-color:red;
	background-repeat:no-repeat;
	background-position:center;
	padding:0%;
	margin:0%;
}
a {
	color:purple;
}
a:hover {
	color:green;
}
a{
	text-decoration:none;
	color:#cc0000;
}
a.button,div.container{
